body {
  background-image: linear-gradient(to left, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
  background-size: 300%;
  animation: gradients1 5s infinite alternate;
}

@keyframes gradients1 {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 3em;
  min-width: 580px;
}

#form {
  display: flex;
  justify-content: center;
  min-width: 580px;
}

#text {
  width: 100px;
  margin-left: -20px;
}

#button {
  margin-left: 20px;
}
