body {
  background-size: 300%;
  background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  animation: gradients1 2s infinite alternate;
}

@keyframes gradients1 {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 3em;
  min-width: 1040px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1040px;
  height: 100%;
  margin-top: -100px;
}

#button {
  height: 600px;
  width: 600px;
  font-size: 3em;
  background-size: 300%;
  background-image: linear-gradient(to left, #e8198b 0%, #c7eafd 100%);
  animation: gradients2 2s infinite alternate;
}

@keyframes gradients2 {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}
