html {
	background-color: darkgreen;
}

h1 {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

a {
	color: blue;
	text-decoration: none;
	cursor: auto;
}

form {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#flexing {
	display: flex;	
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

