html {
	background-color: black;
}

h1 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: yellow;
}

a {
	color: blue;
	text-decoration: none;
	cursor: auto;
}

#flexing {
	display: flex;	
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

#canvas1 {
	transform: rotate(145deg);
	margin-left: -500px;
	animation-name: rotate;
	animation-duration: 3s;
}

@keyframes rotate {
	from{transform: rotate(145deg);}
	to{transform: rotate(-215deg);}
}

#flexing2 {
	display: flex;	
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

#canvas2 {
	margin-top: -400px;
}

#flexing3 {
	display: flex;	
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

#canvas3 {
	margin-top: -400px;
	margin-left: 300px;
}

#flexing4 {
	display: flex;	
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

#canvas4 {
	margin-top: -400px;
	margin-left: 600px;
}

#flexing5 {
	display: flex;	
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

#canvas5 {
	margin-top: -400px;
	margin-left: 900px;
}

#flexing6 {
	display: flex;	
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

#canvas6 {
	margin-top: -400px;
	margin-left: 1200px;
}