h1 {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

a {
	color: turquoise;
	text-decoration: none;
	cursor: auto;
}

#flexing {
	display: flex;	
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

#canvas1 {
	margin-top: -100px;
}

.yes {
	height: 100px;
	width: 100px;
	background-color: green;
}
.no {
	height: 100px;
	width: 100px;
	background-color: red;
}